.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 20px 50px;
  box-sizing: border-box;
  /* css 에게 box 사이즈를 늘리는 것을 원하지 않게한다.
   padding 시 줄어든 px 만큼 box 의 px 값이 늘어나는데  공간이 줄어들어도 상관 X */
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nav__ul {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #2e363e;
}
.nav__notification {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 17px;
  top: -20px;
}
