.screen-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 20px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 20px;
}
.screen-header__title {
  padding-left: 15px;
  font-size: 30px;
}

.screen-header__icons {
  margin: 5px;
}
.screen-header__icons span {
  padding-right: 25px;
}
